footer {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
.Footer {
    width: 100%;
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid 1px var(--border-color);
    border-radius: 20px;
}
.footer_heading {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--MinecraftFont);
    color: var(--heading);
}
.footer_logo {
    width: 40px;
    height: auto;
}