* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

.btn {
  color: var(--heading);
  font-family: var(--font);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s;
}
.btn:hover {
  opacity: 0.8;
}