.Home_Header {
    width: 100%;
    height: auto;
    position: relative;
}

.object {
    position: absolute;
    filter: drop-shadow(2px 2px 5px #00000054);
    z-index: -1;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
            0% {
                transform: translateY(0);
                rotate: calc(30deg);
            }

            50% {
                transform: translateY(-10px);
                rotate: calc(40deg);
            }

            100% {
                transform: translateY(0);
                rotate: calc(30deg);
            }
}

.Home_Header_inner {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    padding: 50px 20px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    /* border: 1px solid var(--border-color); */
    align-items: center;
    gap: 20px;
}

.home_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home_header_text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading {
    font-size: 64px;
    font-family: var(--MinecraftCaps);
    color: var(--heading);
    margin-top: -20px;
    text-shadow: 2px 2px 5px #000;
}
.heading_header {
    font-size: 32px;
    color: var(--text);
    font-family: var(--MinecraftFont);
}
.heading_description {
    font-size: 20px;
    color: var(--text);
    font-family: var(--fontGeo);
    font-weight: bold;
    width: 700px;
}
.heading_description_res {
    font-size: 20px;
    color: var(--text);
    font-family: var(--fontGeo);
    font-weight: bold;
    width: 700px;
    display: none;
}

.home_header_btn_container {
    display: flex;
}

.server_ip_container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: fit-content;
}
.server_ip {
    padding: 0px 10px;
    font-family: var(--MinecraftFont);
    font-size: 28px;
}
.home_header_server_join_btn {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--heading);
    padding: 0px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font);
    cursor: pointer;
    transition: all .1s;
}
.home_header_server_join_btn:hover {
    background-color: var(--shining-green);
}

.video_container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_container p {
    color: #fff;
    z-index: 1;
}
.video_polygon {
    width: 80%;
}
.play_btn {
    cursor: pointer;
    z-index: 1;
    transition: all .1s;
    position: absolute;
}
.play_btn:hover {
    transform: translateY(-2px);
    filter: drop-shadow(2px 2px 5px #000);
}
.play_btn:active {
    transform: translateY(2px);
    filter: drop-shadow(0px 0px 0px #00000000);
}

@media only screen and (max-width: 1261px) {
    .Home_Header_inner {
        padding: 0px;
        padding-top: 20px;
    }
    .heading {
        font-size: 50px;
    }
    .heading_description {
        display: none;
    }
    .heading_description_res {
        display: block;
    }
}

@media only screen and (max-width: 769px) {
    .heading {
        font-size: 55px;
    }
    .heading_description {
        font-size: 18px;
    }
    .object {
        display: none;
    }
    .video_polygon {
        width: 100%;
    }
    .Home_Header_inner {
        padding: 0;
        padding-top: 20px;
    }
}