.Social {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.Social_about {
    width: 100%;
    height: 100%;
    color: var(--heading);
}
.Posts {
    width: 100%;
    height: 100%;
    color: var(--heading);
}
.Social_profile {
    width: 100%;
    height: 100%;
    color: var(--heading);
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}