header {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    background-color: #00000000;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #ffffff21;
    position: fixed;
}
.header {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_heading {
    color: var(--header);
    font-size: 32px;
    font-family: var(--MinecraftFont)
}

.header_list {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header_item {
    color: var(--text);
    font-family: var(--font);
    font-family: 18px;
    transition: color .1s;
}
.header_item:hover {
    color: var(--header);
}