header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
    padding-top: 10px;
}
.header {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid var(--border-color);
    padding: 5px 20px;
    border-radius: 100px;
    box-shadow: 2px 2px 10px #00000056;
}
.header_list_container {
    display: flex;
    gap: 20px;
}
.header_heading {
    color: var(--heading);
    font-size: 20px;
    font-family: var(--MinecraftFont);
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_logo {
    width: 40px;
    height: auto;
}

.header_list {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header_item {
    color: var(--text);
    font-family: var(--font);
    font-family: 18px;
    transition: color .1s;
}
.header_item:hover {
    color: var(--heading);
}

.registration_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.signup_item {
    font-family: var(--font);
    color: var(--text);
    font-weight: bold;
}
.signup_item:hover {
    color: var(--heading);
}
#signup {
    color: var(--green);
}
#signup:hover {
    color: var(--shining-green);
}

@media only screen and (max-width: 1261px) {
    header {
        padding: 10px 10px;
    }
}